/**
 * OVERVIEW
 *
 * This project is separated to the following style sheets:
 *
 * reset.css............CSS reset.
 * base.css.............Global rules and helpers.
 * layout.css...........CSS rules that control the layout of the page.
 * components.css.......Own CSS for the components that build up the page.
 */


/**
 * CONTENTS
 *
 * SETTINGS
 * Box-sizing...........Better default `box-sizing`.
 * Variables............Globally-available variables.
 *
 * BASE STYLES
 * Headings.............H1-H2 styles.
 * Base font............Base font style.
 *
 */

/*------------------------------------*\
  #BOX-SIZING
\*------------------------------------*/

* {
    box-sizing:                         border-box;
}

/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/
:root {
    --color-white: #fff;
    --color-black: #000;
    --color-gray: #a5a1a1; 
    --color-first: #d3cbc1; /* c9bda2    LOGO: B28530*/
    --color-second: #231f20;   /*345995   blue, it was--#4A5F71*/
    --color-third: #03cea4;
    --color-fourth: #f5cac3;
    --color-fifth: #ca1551;
    --color-white-dirty: #909cc2;

    --color-light-gray: #b3b3b3;

    --color-background: #eeeeee;  /* #231f20  #eeeeee*/
    --color-background-foot: #d1d1d1; 
    
    --color-zeus: #3b3c38 ;  /*#3b3c38   #f6bd60 */
    --color-kitchen: #363434;   /*#efecec  #f7ede2           */

}

/*------------------------------------*\
  #BASE FONT
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
* {
    font-size:                          10px;
    text-decoration:                    none;
    font-family:                        'PT Sans', sans-serif;
}

/*------------------------------------*\
  #HEADINGS
\*------------------------------------*/

h1 {                                    
  font-weight:                          900;
}

h2 {                                    
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
}

h3 {                                    
  font-weight:                          700;
  
}
