/**
 * OVERVIEW
 *
 * This project is separated to the following style sheets:
 *
 * reset.css............CSS reset.
 * base.css.............Global rules and helpers.
 * layout.css...........CSS rules that control the layout of the page.
 * components.css.......Own CSS for the components that build up the page.
 */


/**
 * CONTENTS
 *
 * SETTINGS
 * Box-sizing...........Better default `box-sizing`.
 * Variables............Globally-available variables.
 *
 * BASE STYLES
 * Headings.............H1-H2 styles.
 * Base font............Base font style.
 *
 */

/*------------------------------------*\
  #BOX-SIZING
\*------------------------------------*/

* {
    box-sizing:                         border-box;
}

/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/
:root {
    --color-white: #fff;
    --color-black: #000;
    --color-gray: #a39069; 
    --color-first: #b28530; /* c9bda2    LOGO: B28530*/
    --color-second: #231f20;   /*345995   blue, it was--#4A5F71*/
    --color-third: #03cea4;
    --color-fourth: #fb4d3d;
    --color-fifth: #ca1551;  /* */
    --color-first-pale: #eac33569; /* eac33569 */
    --color-first-shadow: #eac33534;
    --color-white-dirty: #909cc2;

    --color-background: #eeeeee;  /* #231f20  #eeeeee*/
    --color-background-foot: #ececec; 
    
    --color-livingroom: #f6bd60;
    --color-kitchen: #f7ede2;
    --color-bedroom: #f28482;
    --color-bathroom: #5ec0eb;
    --color-terrace: #f5cac3;
}

/*------------------------------------*\
  #BASE FONT
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
* {
    font-size:                          10px;
    text-decoration:                    none;
    font-family:                        'PT Sans', sans-serif;
}

/*------------------------------------*\
  #HEADINGS
\*------------------------------------*/

h1 {                                    
  font-weight:                          900;
}

h2 {                                    
  font-weight:                          700;
  font-size:                            2.4rem;
}

h3 {                                    
  font-weight:                          700;
  
}
