/**
 * CONTENTS
 *
 * HEADER
 *
 * MAIN 
 *
 * FOOTER
*/

/*-------------------------------------------------------------------------------------*/
/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.header--container {
    height: 80px;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-first);
    display: flex;
    flex-direction: row;
}

.header--search {
    background-color: green;
    width: 50%;
    height: 100%;
}

.header--logo img {
    height: 100%; 
    width: 100px;
    padding-left: .5rem; 
}

#header--menu__toggle {
    visibility: hidden;
}

.header--menu__btn {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.header--menu__lines,
.header--menu__lines::before,
.header--menu__lines::after {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--color-second);
    content: "";  
}

.header--menu__lines::before {
    top: 8px;  
    transition-duration: .4s;
}


.header--menu__lines::after {
    top: -8px;
    right: 0;
    transition-duration: .4s;
}

.header--menu__btn:hover .header--menu__lines::after  {
    width: 60%;
}

.header--menu__btn:hover .header--menu__lines::before  {
    width: 60%;
}

.header--menu__box {
    background-color: var(--color-second);
    position: absolute;
    top: 80px;
    width: 100%;
    right: -100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition-duration: .3s;
}
/* search section */
.header--menu__item {
    padding: 15px 0;
    display: block;
}

.search--container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .header--search {
    height: 100%;
    border: 1px solid white;
    padding: 0.5rem 0.1rem;
    background: white;
    width: 70%;
  }
  
  .header--search form {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .header--search input {
    border: none;
    background: none;
    font-size: 0.8rem;
    font-weight: 500;
    width: 85%;
  }
  
  .header--search input:focus {
    border: none;
    outline: none;
  }
  
  .header--search input:focus ~ button,
  .header--search input:valid ~ button {
    border-left: 1px solid var(--color-light-gray);
  }
  
  .header--search input:valid ~ button {
    cursor: pointer;
  }
  
  .header--search button {
    border: none;
    background: none;
    height: 100%;
    font-size: 1rem;
  }
/*--------------*/

.header--menu__item a {
    font-size: 1rem;
    transition-duration: .2s;
    color: var(--color-white);
    font-weight: 700;
    text-transform: uppercase;
}

.menu--nav:hover {
    border-bottom: 1px solid var(--color-white);
}

.menu--btn__container {
    display: flex;
}

.menu--btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0;
    cursor: pointer;
    width: 100px;
    height: 50px;
    border: 1px solid var(--color-white);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: .8rem;
    color: var(--color-white);
}

.menu--btn:hover {
    background-color: var(--color-third);
    transition-duration: .4s;
}


#header--menu__toggle:checked ~ .header--menu__box {
    transition-duration: .3s;
}

#header--menu__toggle:checked ~ .header--menu__box .header--menu__item a {
    transition-duration: .3s;
}

#header--menu__toggle:checked ~ .header--menu__box {
    right: 0;
}


/*------------------MEDIA------------------*/
/* Small devices (landscape phones, 576px and up */
@media screen and (min-width: 576px) {  
    .search--container {
        position: fixed;
        width: 55vw;
        top: 20px;
        left: calc(50% - 27.5vw);
        margin: 0;
        padding: 0;
    }

    .header--search {
        height: 100%;
        border: 1px solid white;
        padding: 0.5rem 0.1rem;
        background: white;
        border: 1px solid var(--color-light-gray);
    }

    .header--search input {
        letter-spacing: 1px;
    }

    .header--search button {
        color: var(--color-light-gray);
    }

    .header--menu__item a {
    font-size: 1.3rem;
    }

    .menu--btn {
    width: 150px;
    height: 50px;
    font-size: 1.3rem;
    }
 }

 /* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    /* INNENTŐL VAN A KERESŐ MENÜ KÓDJA*/
    .search--container {
      width: 420px;
      left: calc(50% - 210px);
    }
    .header--search input {
      letter-spacing: 1px;
      font-size: 1rem;
    }
  }

 /* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { 
    .header--menu__box {
        right: -50%;
        width: 50%;
        max-width: 500px;
      }
    
}
 

/**-----------------------------------------------------------------------------------**/
/*--X-------------------------------------------------------------------------------X--*/
/**-----------------------------------------------------------------------------------**/

/*------------------------------------*\
  #MAIN
\*------------------------------------*/

/**----------------------------------------------------------**/
/*  ------------------------ HOME ------------------------  */
.home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    position: relative;
}

.home-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-description {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.home-title {
    display: flex;
    justify-content: center;
    color: var(--color-white); 
    width: 100%;
    text-transform: uppercase;
}

.home-title h2 {
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 1.5rem;
}

.home-descrpit {
    text-align: center;
    font-size: 1rem;
    width: 80%;
    margin-top: 1.5rem;
    color: var(--color-white);
    letter-spacing: 1px;
    font-size: .6rem;
}

.home-btn {
    background-color: var(--color-white);
    padding: .5rem .5rem;
    margin: 1rem 0;
    font-weight: 500;
    font-size: 1rem;
    color: var(--color-black);
    border: 1px solid var(--color-white);
}

.home-btn:hover {
    border: 1px solid var(--color-black);
}

.home-social {
    margin-top: 1rem;
    width: 60%;
    display: flex;
    justify-content: space-around;
    height: 80px;
}


.home-social a {
    background-color: var(--color-white);
    width: 32px;
    height: 32px;
    font-size: 1.2rem;
    color: var(--color-black);
    display: flex;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}


@keyframes socAnim {
    0% {
        box-shadow: 1px 0 6px 1px var(--color-white);
    }

    25% {
        box-shadow: 0 1px 6px 1px var(--color-white);
    }

    50% {
        box-shadow: -1px 0 6px 1px var(--color-white);
    }

    75% {
        box-shadow: 0 -1px 6px 1px var(--color-white);
    }

    100% {
        box-shadow: 1px 1px 8px 1px var(--color-white);
    }
}

.home-social a:hover {
    animation: socAnim .2s;
    animation-fill-mode: forwards;
    transform: scale(1.1);
}







/*------------------MEDIA------------------*/
/* Small devices (landscape phones, 576px and up */
@media screen and (min-width: 576px) { 
    .home-social a {
        padding: 1.2rem;
    }

}
 /* Medium devices (tablets, 768px and up) */
 @media screen and (min-width: 768px) { 

    .home-container {
        width: 100vw;
        margin-top: 0;
    }

    .home-pic img {
        height: 100vh;
    }

    .home-title h2 {
        letter-spacing: 3px;
        font-size: 2rem;
    }

    .home-descrpit {
        margin-top: 2rem;
        font-size: 1rem;
    }

    .home-btn {
        margin-top: 3rem;
        padding: 1rem 2rem;
        font-size: 1rem;
    }
    
    .home-social {
        margin-top: 5rem;
        justify-content: space-around;
        
    }

    .home-social a {
        padding: 1.4rem;
    }

}
    
 /* Large devices (desktops, 992px and up) */
 @media screen and (min-width: 992px) { 
    .home-container {
        margin-top: 60px;
    }

    .home-pic img {
        height: 90vh;
    }

}

/*  -X---------------------- HOME ----------------------X-  */
/**----------------------------------------------------------**/


/**----------------------------------------------------------**/
/*  ------------------------ ROOMS ------------------------  */

.rooms {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-top: 1px solid var(--color-first);
    margin: 10px 0;
    padding-top: 80px;
}

.rooms > h2 {
    text-align: center;
}

.rooms--slidershow {
    height: 60vh;
    width: 95%;
    overflow: hidden;
    padding-top: 2rem;
}

.rooms--slides {
    width: 500%;
    height: 100%;
    display: flex;
    position: relative;
}

.room--navigation {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    top: -10px;
    display: flex;
    justify-content: space-between;
    width: 8%;
}


.room--navigation__bar {
    width: 10px;
    height: 10px;
    border: 2px solid var(--color-light-gray);
    display: block;
    cursor: pointer;
    background-color: var(--color-light-gray);
}

.slides--slide {
    width: 20%;
    transition: 2s;
}

#slides--radio1 {
    position: absolute;
    left: 40%;
}

#slides--radio2 {
    position: absolute;
    left: 45%;
}

#slides--radio3 {
    position: absolute;
    left: 50%;
}

#slides--radio4 {
    position: absolute;
    left: 55%;
}

#slides--radio5 {
    position: absolute;
    left: 60%;
}

input[type="radio"] {
    visibility: hidden;
}


#slides--radio1:checked ~ .slides--slide__main {
    margin-left: 0;
}

#slides--radio1:checked ~ .room--navigation > .room--navigation__bar1 {
    background-color: var(--color-black);
    border: 2px solid var(--color-black);
}

#slides--radio2:checked ~ .slides--slide__main {
    margin-left: -20%;
}

#slides--radio2:checked ~ .room--navigation > .room--navigation__bar2 {
    background-color: var(--color-black);
    border: 2px solid var(--color-black);
}

#slides--radio3:checked ~ .slides--slide__main {
    margin-left: -40%;
}

#slides--radio3:checked ~ .room--navigation > .room--navigation__bar3 {
    background-color: var(--color-black);
    border: 2px solid var(--color-black);
}

#slides--radio4:checked ~ .slides--slide__main {
    margin-left: -60%;
}

#slides--radio4:checked ~ .room--navigation > .room--navigation__bar4 {
    background-color: var(--color-black);
    border: 2px solid var(--color-black);
}

#slides--radio5:checked ~ .slides--slide__main {
    margin-left: -80%;
}

#slides--radio5:checked ~ .room--navigation > .room--navigation__bar5 {
    background-color: var(--color-black);
    border: 2px solid var(--color-black);
}


.slides--slide__img {
    width: 100%;
    height: 100%;
}

.slide--title {
    padding-left: 6vw;
    padding-top: 2vh;
    position: relative;
    top: -16vh;
    right: 0;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 16vh;
}

.slides--slide a:hover {
    text-decoration: underline var(--color-white);
}

.slides--slide .slide--title h4, p {
    color: var(--color-white);
}

h4 {
    font-size: .8rem;
    letter-spacing: 1px;
    font-weight: 700;
}

.slide--title__par {
    font-size: .8rem;
    margin-top: 6px;
}

.slide--title__arrow {
    margin-top: 16px;
    padding: 6px;
    border: 1px solid var(--color-white);
    color: var(--color-black);
    background-color: var(--color-white);
}

/*------------------MEDIA------------------*/
/* Small devices (landscape phones, 576px and up */
@media screen and (min-width: 576px) { 
    .rooms--slidershow {
        height: 70vh;
    }

    .room--navigation {
        width: 6%;
    }

    h4 {
        font-size: 1.2rem;
        letter-spacing: 1.2px;
    }
    
    .slide--title__par {
        font-size: 1rem;
        margin-top: 8px;
    }
    
    .slide--title__arrow {
        font-size: .8rem;
    }
}
 /* Medium devices (tablets, 768px and up) */
 @media screen and (min-width: 768px) { 
    .rooms--slidershow {
        height: 80vh;
    }

    .rooms > h2 {
        letter-spacing: 3px;
        font-size: 2rem;
    }

    h4 {
        letter-spacing: 1.6px;
    }
    
    .slide--title__par {
        font-size: 1.1rem;
        margin-top: 12px;
    }
    

    .room--navigation {
        width: 4%;
    }
    
    .room--navigation__bar {
        width: 11px;
        height: 11px;
    }

}
 /* Large devices (desktops, 992px and up) */
 @media screen and (min-width: 992px) { 
    .rooms--slidershow {
        height: 85vh;
        width: 85%;
    }

    h4 {
        font-size: 1.6rem;
        letter-spacing: 1.8px;
    }
    
    .slide--title__par {
        font-size: 1.2rem;
        margin-top: 14px;
    }
    
    .slide--title__arrow {
        font-size: .8rem;
    }

  

}
 
 /* Extra large devices (large desktops, 1200px and up) */
 @media screen and (min-width: 1200px) {
    .slide--title__arrow {
        margin-top: .5vh;
    }
    
  
}

/*  -X---------------------- ROOMS ----------------------X-  */
/**----------------------------------------------------------**/

/**----------------------------------------------------------------**/
/*  ------------------------ INSPIRATION ------------------------  */

.inspiration {
    border-top: 1px solid var(--color-first);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.inspiration h2 {
    text-align: center;
}

.inspiration--container {
    width: 90%;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.container--product {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 450px;
    display: flex;
    flex-direction: column;
    border-radius: 2%;
    align-items: center;
    margin-top: 1.5rem;
    box-shadow: 1px 2px 15px 2px var(--color-gray);
}

.container--product__right {
    border-top-right-radius: 20%;
}

.product--img {
    display: flex;
    background-color: var(--color-gray);
    max-width: 550px;
    max-height: 550px;
}

.product--img__left {
    border-bottom-left-radius: 20%;
    justify-content: flex-end;
}

.product--img__right {
    border-top-right-radius: 20%;
    justify-content: flex-start;
}

.product--img img {
    width: 95%;
    height: 95%;
    
}

.product--img img:hover {
    transform: scale(1.01);
    transition: .8s;
}


.product--img__left img {
    border-bottom-left-radius: 20%;
}

.product--img__right img {
    border-top-right-radius: 20%;

}

.product--desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product--prod {
    margin-top: 1.6rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.container--product a:first-of-type {
    border-bottom: 1px solid var(--color-black);
}

.product--prod i {
    width: 25%;
    font-size: 1.2rem;
    color: var(--color-black);
    border-right: 1px solid var(--color-white-dirty);
    text-align: center;
}

.product--prod h5 {
    font-size: .8rem;
    width: 40%;
    text-align: center;
    color: var(--color-second);
}

.product--prod p {
    font-size: .7rem;
    color: var(--color-second);
}

.product--prod span {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 12vw;
    height: 3vh;
    max-width: 65px;
    max-height: 25px;
    border: 1px solid var(--color-second);
    font-size: .8rem;
    padding: .5rem 1.2rem;
    font-weight: 500;
    color: var(--color-second);
}

.product--prod span:hover {
    transition-duration: .4s;
    background-color: var(--color-second);
    color: var(--color-white);
}

.inspiration--btn {
    height: 2.5rem;
    width: 7rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-second);
    border: 1px solid var(--color-white-dirty);
}

.inspiration--btn:hover {
    transition-duration: .3s;
    border: 1px solid var(--color-second);
}

/*------------------MEDIA------------------*/
/* Small devices (landscape phones, 576px and up */
@media screen and (min-width: 576px) { 
    .container--product {
        height: 100%;
        min-height: 500px;
    } 
    
    .product--prod i {
        width: 20%;
        font-size: 1.5rem;
    }

    .product--prod h5 {
        font-size: 1rem;
        width: 30%;
    }

    .product--prod p {
        font-size: .8rem;
    }
}
 /* Medium devices (tablets, 768px and up) */
 @media screen and (min-width: 768px) { 
    .inspiration h2 {
        letter-spacing: 3px;
        font-size: 2rem;
    }
}
 /* Large devices (desktops, 992px and up) */
 @media screen and (min-width: 992px) { 
    .inspiration--container {
        width: 95%;
        flex-direction: row;
    }

    .container--product {
        max-width: 500px;
    }
}

 
 /* Extra large devices (large desktops, 1200px and up) */
 @media screen and (min-width: 1200px) {
    .inspiration--container {
        width: 85%;
    }
    
    .container--product {
        max-width: 550px;
    }
}

/*  -X---------------------- INSPIRATION ----------------------X-  */
/**---------------------------------------------------------------**/

/**----------------------------------------------------------------**/
/*  ------------------------ CONTACT ------------------------  */

.contact {
    border-top: 1px solid var(--color-first);
    margin-top: 3rem;
    padding: 100px 0 4rem;
    display: flex;
    justify-content: center;
}

.contact--title {
    width: 90%;
}

.contact--title h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.contact--title p {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: var(--color-black);
    line-height: 2rem;
}

.contact--form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact--form__formbox {
    font-size: .9rem;
    outline: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin: 1rem 0;
}

.contact--form__formbox input {
    color: var(--color-second);
    font-size: .8rem;
    font-weight: 700;
    border: none;
    border-bottom: 1px solid var(--color-black);
    margin-bottom: .8rem;
    background-color: var(--color-background);
}

.contact--form__formbox label {
    color: var(--color-black);
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    color: var(--color-black);
    transition: .6s;
}

.contact--form select {
    margin: 1.5rem 0;
    border: none;
    border-bottom: 1px solid black;
    background-color: var(--color-background);
    color: var(--color-second);
    font-weight: 700;
}


.contact--form__formbox option {
    font-weight: 500;
    font-size: .8rem;
    color: var(--color-black);
}

.contact--form__formbox textarea {
    height: 12vh;
    border-bottom: 1px solid var(--color-black);
    border-left: 1px solid var(--color-black);
    border-right: 1px solid var(--color-black);
    color: var(--color-second);
    font-weight: 700;
    font-size: 1.1rem;
    background-color: var(--color-background);
}

.contact--form__formbox input:focus,
.contact--form__formbox textarea:focus  {
    outline: none;
    border-bottom: 2px solid var(--color-second);
}

.contact--form__formbox input:focus ~ label,
.contact--form__formbox input:valid ~ label,
.contact--form__formbox textarea:valid ~ label {
    top: -1.8rem;
    font-size: .7rem;
}

.contact--form input[type="submit"] {
    margin-top: 3rem;
    width: 40%;
    min-width: 80px;
    height: 6vh;
}



/*------------------MEDIA------------------*/
/* Small devices (landscape phones, 576px and up */
@media screen and (min-width: 576px) { 
    .contact--form__formbox, .contact--form__formbox::placeholder {
        font-size: 1.2rem;
    }
    
    .contact--form__formbox input {
        color: var(--color-second);
        font-size: 1.2rem;
    }

    .contact--form__formbox input:focus ~ label,
    .contact--form__formbox textarea:focus ~ label,
    .contact--form__formbox input:valid ~ label,
    .contact--form__formbox textarea:valid ~ label {
    font-size: 1rem;
    }

    .contact--form__formbox option {
        font-size: 1.2rem;
    }
}
 /* Medium devices (tablets, 768px and up) */
 @media screen and (min-width: 768px) { 
    
    .contact--title {
        width: 80%;
    }

    .contact--title h2 {
        letter-spacing: 3px;
        font-size: 2rem;
    }
}
 /* Large devices (desktops, 992px and up) */
 @media screen and (min-width: 992px) { 
    .contact--title {
        width: 75%;
    }
}
 
 /* Extra large devices (large desktops, 1200px and up) */
 @media screen and (min-width: 1200px) {
    .contact--title {
        width: 70%;
    }
}


/*  -X---------------------- CONTACT ----------------------X-  */
/**---------------------------------------------------------------**/

/**----------------------------------------------------------------**/
/*  ------------------------ GETAPP ------------------------  */

.getapp {
    border-top: 1px solid var(--color-first);
    margin-top: 3rem;
    padding: 100px 0 4rem;
    display: flex;
    justify-content: center;
}

.getapp--container {
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: center;
    align-items: center;
    background-color: var(--color-fourth);
    border-radius: 60px;
    padding: .5rem;
}

.getapp--container__pic {
    width: 90%;
    max-width: 600px;
    max-height: 600px;
}

.getapp--container__pic img {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 15%;
    border-top-left-radius: 15%;
}

.getapp--container__desc {
    max-width: 420px;
}

.getapp--container__desc > h5 {
    text-align: center;
    font-size: 1.2rem;
    color: var(--color-fifth);
    font-weight: 700;
    margin: 1rem 0;
}

.getapp--container__desc > h3 {
    text-align: center;
    font-size: 1.5rem;
}

.getapp--container__desc > p {
    font-size: 1rem;
    margin: 1.5rem 2rem;
    color: var(--color-second);
}

.desc__store--container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.desc__store--container > a {
    color: var(--color-white);
    background-color: var(--color-black);
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
    width: 10rem;
    height: 4rem;
    min-width: 130px;
    min-height: 40px;
    max-width: 280px;
    max-height: 80px;
    border-radius: 20px;
}

.desc__store--container > a > i {
    font-size: 1.8rem;
}

.desc__store--container > a:hover {
    color: var(--color-third);
}

/*------------------MEDIA------------------*/
/* Small devices (landscape phones, 576px and up */
@media screen and (min-width: 576px) { 
  
    .getapp--container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .getapp--container__pic {
        width: 65%;
        height: 50%;
    }
    .desc__store--container {
        flex-direction: row;
    }

    .getapp--container__desc > h5 {
        font-size: 1.6rem;
    }

    .getapp--container__desc > h3 {
        text-align: center;
        font-size: 2.2rem;
    }

    .desc__store--container > a > i {
        font-size: 2.8rem;
    }

}
 /* Medium devices (tablets, 768px and up) */
 @media screen and (min-width: 768px) { 
    .getapp--container {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .getapp--container__pic {
        width: 50%;
        height: 70%;
    }

    .getapp--container__pic img {
        border-bottom-right-radius: 20%;
        border-top-right-radius: 20%;
        border-bottom-left-radius: 5%;
        border-top-left-radius: 5%;
    }

    .getapp--container__desc {
        width: 50%;
    }
    
}
 /* Large devices (desktops, 992px and up) */
 @media screen and (min-width: 992px) { 
    .getapp--container {
        height: 70vh;
    }
}
 


/*  -X---------------------- GETAPP ----------------------X-  */
/**---------------------------------------------------------------**/

/**-----------------------------------------------------------------------------------**/
/*--X-------------------------------------------------------------------------------X--*/
/**-----------------------------------------------------------------------------------**/

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/
.footer--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer--items {
    width: 90%;
    margin: 0.2rem 0;
    border-top: 1px solid var(--color-first);
}

.footer--menu__btn {
    display: flex;
    cursor: pointer;
}

.footer--menu__btn span {
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 0;
    color: var(--color-black);
}

.footer--menu__btn span::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid var(--color-black);
    border-right: 2px solid var(--color-black);
    transform: rotate(45deg);
    transition-duration: 0.4s;
    right: 35px;
}

.footer--items input[type="checkbox"] {
    display: none;
}

.footer--items__links {
    visibility: hidden;
    transition-duration: 0.1s;
    height: 0;
    padding-right: 4rem;
}

.footer--items__links p {
    margin-bottom: 1rem;
    color: var(--color-black);
}

.footer--items__links li {
    margin-bottom: 0.5rem;
    text-decoration: none;
}

.footer--items__links li a {
    color: var(--color-black);
    text-decoration: underline;
}

.footer--items__links li a:hover {
    color: var(--color-fifth);
}

#footer--shopping__toggle:checked ~ .footer--menu__btn span::after,
#footer--about__toggle:checked ~ .footer--menu__btn span::after,
#footer--support__toggle:checked ~ .footer--menu__btn span::after {
    transform: rotate(225deg);
}

#footer--shopping__toggle:checked ~ .footer--items__links {
    height: 290px;
    visibility: visible;
}

#footer--about__toggle:checked ~ .footer--items__links {
    height: 420px;
    visibility: visible;
}

#footer--support__toggle:checked ~ .footer--items__links {
    height: 320px;
    visibility: visible;
}

.footer--links {
    padding: 2rem 0 5rem;
    width: 90%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    'social' 
    'address' 
    'policy';

}

.footer--links__social {
    grid-area: social;
    justify-self: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 1rem;
}

.social--links {
    color: var(--color-black);
    width: 30px;
    height: 30px;
    font-size: 18px;
    border: 1px solid var(--color-white-dirty);
    display: flex;
    align-items: center;
    justify-content: center;
}

.social--links:hover {
    color: var(--color-second);
    border: 1px solid var(--color-second);
}

.social--media {
    border-radius: 50%;
}

.social--pay {
    width: 50px;
    border-radius: 10px;
}

.footer--links__address {
    grid-area: address;
    justify-self: center;
    align-self: center;
    font-size: .9rem;  
}

.footer--links__address p {
    color: var(--color-black);
}

.footer--links__policy {
    grid-area: policy;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer--links__policy a {
    color: var(--color-black);
    font-size: .9rem;
}

.footer--links__policy a:hover {
    text-decoration: underline;
}



.backarrow {
    position: fixed;
    top: 92vh;
    right: 5vh;
    font-size: 2.2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backarrow:hover {
    transform: scale(1.2);
}

.backarrow i:first-of-type {
    color: var(--color-second);
}

.backarrow i:first-of-type:hover {
    color: var(--color-fifth);
}

 /*------------------MEDIA------------------*/
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .footer--container {
        flex-direction: row;
        align-items: flex-start;
        padding: 2rem;
    }

    .footer--items {
        border: none;
    }

    .footer--menu__btn {
        cursor: none;
    }

    .footer--menu__btn span::after {
        visibility: hidden;
    }

    .footer--items__links {
        visibility: visible;
        height: 100%;
    }

    .footer--menu__btn span {
        padding: 0.3rem 0;
    }

    .footer--links {
        height: 32vh;
        grid-template-columns: 50% 50%;
        grid-template-rows: 55% 45%;
        grid-template-areas: 
        'social social' 
        'address policy';                 
    }

    .footer--links__social {
        border-bottom: 1px solid var(--color-first);
    }

}


/*--X-------------------------------------------------------------------------------X--*/