/**
 * CONTENTS
 *
 * HEADER
 *
 * MAIN 
 *
 * FOOTER
*/

/*-------------------------------------------------------------------------------------*/
/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.header--container {
    height: 60px;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-first);
}

.header--nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header--logo img {
    height: 70px; 
}


#header--menu__toggle {
    visibility: hidden;
}

.header--menu__btn {
    position: fixed;
    top: 10px;
    right: 30px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.header--menu__lines,
.header--menu__lines::before,
.header--menu__lines::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--color-first);
}

.header--menu__lines::before {
    content: "";
    top: 8px;
    width: 100%;
    transition-duration: .4s;
}


.header--menu__lines::after {
    content: "";
    top: -8px;
    right: 0;
    width: 100%;
    transition-duration: .4s;
}

.header--menu__btn:hover .header--menu__lines::after  {
    width: 60%;
}

.header--menu__btn:hover .header--menu__lines::before  {
    width: 60%;
}

.header--menu__box {
    background-color: var(--color-first);
    position: fixed;
    top: 50px;
    width: 100%;
    right: 0px;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition-duration: .3s;
}

.header--menu__item {
    padding: 15px 0;
}

.header--menu__item a {
    font-size: 0;
    transition-duration: .2s;
    color: var(--color-white);
    font-weight: 700;
    text-transform: uppercase;
}

.header--menu__item a:hover {
    color: var(--color-second);
}



.menu--btn {
    margin: 0 20px 0;
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    visibility: hidden;
    border: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 1.0rem;
    background-color: var(--color-second);
    color: var(--color-white);
}

.menu--btn:hover {
    background-color: var(--color-fifth);
    transition-duration: .6s;
}


#header--menu__toggle:checked ~ .header--menu__box {
    height: 500px;
    transition-duration: .3s;
}

#header--menu__toggle:checked ~ .header--menu__box .header--menu__item a {
    font-size: 1.4rem;
    transition-duration: .3s;
}

#header--menu__toggle:checked ~ .header--menu__box .header--menu__item .menu--btn {
    visibility: visible;
}



 /*------------------MEDIA------------------*/
/* Small devices (landscape phones, 576px and up */
@media screen and (min-width: 576px) { 
    .menu--btn {
        width: 150px;
        height: 50px;
        font-size: 1.3rem;
    }

 }


 /* Medium devices (tablets, 768px and up) */
 @media screen and (min-width: 768px) { 
    
 }
 /* Large devices (desktops, 992px and up) */
 @media screen and (min-width: 992px) { 
    .header--nav {
        height: 50px;
    }
    
    #header--menu__toggle {
        display: none;
    }


    .header--menu__btn {
        display: none;
    }

    .header--menu__lines {
        display: none;
    }

    .header--menu__box {
        position: static;
        top: 0;
        height: 100%;
        width: 80vw; 
        flex-direction: row;
        visibility: visible;
        background-color: var(--color-white);
    }

    .header--menu__item a {
        font-size: 1.2rem;
        color: var(--color-second);
    }

    .header--menu__item a:hover {
        color: var(--color-first);
    }

    .menu--btn {
        visibility: visible;
        font-size: .9rem;
        width: 100px;
        height: 30px;
        border-radius: 150px;
        
    }

 }
 
 /* Extra large devices (large desktops, 1200px and up) */
 @media screen and (min-width: 1200px) {
    .menu--btn {
        font-size: 1rem;
    }
  }

/**-----------------------------------------------------------------------------------**/
/*--X-------------------------------------------------------------------------------X--*/
/**-----------------------------------------------------------------------------------**/

/*------------------------------------*\
  #MAIN
\*------------------------------------*/

/**----------------------------------------------------------**/
/*  ------------------------ HOME ------------------------  */
.home {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    
}

.home--left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left--title {
    display: flex;
    justify-content: center;
}

.left--title h2 {
    width: 80%;
    text-align: center;
}

.left--desc {
    text-align: justify;
    font-size: 1rem;
    width: 80%;
    margin-top: 2rem;
}

.left--search {
    margin-top: 4rem;
    width: 85%;
    min-width: 250px;
    max-width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-radius: 50px;
    background-color: var(--color-first-pale);
}

.left--search input[type="text"] {
    margin-left: 20px;
    width: 55%;
    height: 75%;
    background-color: rgba(0,0,0,0);
    border: none;
    font-size: .9rem;
    color: var(--color-second);
}

.left--search input[type="text"]:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

.left--search input::placeholder {
    color: var(--color-white-dirty);
    font-weight: 900;
    font-size: .5rem;
    letter-spacing: 1px;
}

.left--search input[type="submit"] {
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    margin-right: 4px;
    width: 40%;
    height: 90%;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: var(--color-second);
    color: var(--color-white);
}

.left--search input[type="submit"]:hover {
    width: 42%;
    height: 92%;
    box-shadow: 4px 4px 5px var(--color-first);
}

.left--soc {
    margin-top: 2rem;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.left--soc a {
    background-color: var(--color-white);
    width: 45px;
    height: 45px;
    font-size: 1.8rem;
    color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

@keyframes socAnim {
    0% {
        box-shadow: 1px 0 6px 1px var(--color-second);
    }

    25% {
        box-shadow: 0 1px 6px 1px var(--color-second);
    }

    50% {
        box-shadow: -1px 0 6px 1px var(--color-second);
    }

    75% {
        box-shadow: 0 -1px 6px 1px var(--color-second);
    }

    100% {
        box-shadow: 1px 1px 8px 1px var(--color-second);
    }
}

.left--soc a:hover {
    animation: socAnim .2s;
    animation-fill-mode: forwards;
    transform: scale(1.1);
}



.home--right {
    padding: 8vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right--pics {
    display: grid;
    width: 95%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    'one two' 
    'one three'
    '. .';
    gap: 1px 2px;
    justify-items: center;
    align-items: space-between;
    box-shadow: 4px 6px 5px var(--color-first);
}

.right--grid1 {
    grid-area: one;
    object-fit: cover;
}

.right--grid2 {
    grid-area: two;
    object-fit: cover;
}

.right--grid3 {
    grid-area: three;
    object-fit: cover;
}

.right--pics__main {
    width: 100%;
    height: 100%;
}

.right--pics__small {
    width: 100%;
    height: 100%;
}

.grid--overlay__text {
    white-space: nowrap; 
    color: var(--color-white);
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.grid--overlay {
    position: relative;
    background-color: var(--color-second);
    bottom: 100%;
    opacity: .7;
    overflow: hidden;
    transition: .5s ease;
}


.grid--overlay__top {
    height: 100%;
    width: 0;
}

.grid--overlay__right {
    width: 100%;
    height: 0;
}

.grid--overlay__bottom {
    width: 100%;
    height: 0;
    bottom: 0;
}

.right--grid1:hover .grid--overlay {
    width: 100%;
}


.right--grid2:hover .grid--overlay__right {
    height: 100%;

}

.right--grid3:hover .grid--overlay__bottom {
    height: 100%;
    bottom: 100%;
}



/*------------------MEDIA------------------*/
/* Small devices (landscape phones, 576px and up */
@media screen and (min-width: 576px) { 
    
    .left--search {
        width: 80%;
        min-width: 350px;
        max-width: 450px;  
        height: 60px;  
    }

    .left--search input::placeholder {
        font-size: .8rem;
        letter-spacing: 1.2px;
    }

}
 /* Medium devices (tablets, 768px and up) */
 @media screen and (min-width: 768px) { 
    .home {
        flex-direction: row;        
    }

    .home--left {
        width: 50%;
    }

    .left--desc {
        margin-top: 1rem;
    }
    
    .home--right {
        width: 50%;
    }

    .left--soc {
        width: 90%;
        justify-content: flex-start;
    }

    .left--soc a {
        margin-left: 20px;
    }
}
    
 /* Large devices (desktops, 992px and up) */
 @media screen and (min-width: 992px) { 
    .left--search input::placeholder {
        color: var(--color-white-dirty);
        font-weight: 900;
        font-size: .9rem;
        letter-spacing: 1.8px;
    }

}
 
 /* Extra large devices (large desktops, 1200px and up) */
 @media screen and (min-width: 1200px) {

}

/*  -X---------------------- HOME ----------------------X-  */
/**----------------------------------------------------------**/


/**----------------------------------------------------------**/
/*  ------------------------ ROOMS ------------------------  */

.rooms {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rooms-slidershow {
    width: 95%;
    overflow: hidden;
}

.rooms--sliders {

}

#sliders--radio1:checked ~ .sliders--slide__main {
    border: 2px solid red;
}

#sliders--radio2:checked ~ .sliders--slide__main {
    border: 2px solid rgb(255, 230, 0);
}

#sliders--radio3:checked ~ .sliders--slide__main {
    border: 2px solid rgb(255, 0, 179);
}

#sliders--radio4:checked ~ .sliders--slide__main {
    border: 2px solid rgb(79, 28, 199);
}

#sliders--radio5:checked ~ .sliders--slide__main {
    border: 2px solid rgb(24, 187, 111);
}

.sliders--slide {
    width: 200px;
    height: 200px;
}

.sliders--slide__img {
    width: 100%;
    height: 100%;
}

/*------------------MEDIA------------------*/
/* Small devices (landscape phones, 576px and up */
@media screen and (min-width: 576px) { 
    

}
 /* Medium devices (tablets, 768px and up) */
 @media screen and (min-width: 768px) { 
    
    
 /* Large devices (desktops, 992px and up) */
 @media screen and (min-width: 992px) { 
    

}
 
 /* Extra large devices (large desktops, 1200px and up) */
 @media screen and (min-width: 1200px) {

}

/*  -X---------------------- ROOMS ----------------------X-  */


/**-----------------------------------------------------------------------------------**/
/*--X-------------------------------------------------------------------------------X--*/
/**-----------------------------------------------------------------------------------**/

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/











 /*------------------MEDIA------------------*/



/*--X-------------------------------------------------------------------------------X--*/