 /**
 * CONTENTS
 *
 * LAYOUT
 * Elements.............Rules for the container and items
 * Modifiers............Media queries for the layout.
 *
 * WHITESPACES
 * Whitespaces..........Whitespaces between items.
 */

 /*------------------------------------*\
  #ELEMENTS
\*------------------------------------*/
* {
  scroll-behavior: smooth;
}

.header {
    width: 100vw;
    position: fixed;
    z-index: 10;
}

.main {
    padding-top:  10vh;
    color:  var(--color-second);
    background-color:  var(--color-background);
}


.footer {
  background-color: var(--color-background-foot);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0 0;
  height: 100%;
}

/*------------------------------------*\
  #MODIFIERS
\*------------------------------------*/


/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 
  .main {
      padding-top:  7vh;        
  }

  .footer {
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem 2rem 3rem;
  }

}


/*------------------------------------*\
  #WHITESPACES
\*------------------------------------*/