 /**
 * CONTENTS
 *
 * LAYOUT
 * Elements.............Rules for the container and items
 * Modifiers............Media queries for the layout.
 *
 * WHITESPACES
 * Whitespaces..........Whitespaces between items.
 */

 /*------------------------------------*\
  #ELEMENTS
\*------------------------------------*/
.header {
    width: 100vw;
    position: fixed;
    z-index: 10;
}


/*------------------------------------*\
  #MODIFIERS
\*------------------------------------*/
.main {
  padding-top:  10vh;
  color:  var(--color-second);
  background-color:  var(--color-background);
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) { 
  .main {
      padding-top:  7vh;        
  }

}


/*------------------------------------*\
  #WHITESPACES
\*------------------------------------*/